body{
    background-color: #dbdfac;
    font-family: 'Montserrat', sans-serif;
}
html {
  scroll-behavior: smooth;
}

/*Nabvar*/
nav ul{
    list-style: none;
    display: flex;
}
nav a{
    text-decoration: none;
    padding: 1.5rem;
    font-weight: bold;
    color: #6B4B3E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    transition: all 0.5s ease;
}
.active{
    color: #77B6EA;
    background-color: #D6C9C9;
    padding: 0.5rem 0.9rem;
    outline: #6B4B3E 1px solid;
    border-radius: 0.3rem;
}
nav a:hover{
    color: #f0b47b;
}
header{
    background-color: #D6C9C9;
    overflow: hidden;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    max-width: 1100px;
    margin: auto;
}
.logo img{
    width: 8rem;
    background-repeat: no-repeat;
}
/*body*/
main{
    width: 90%;
    margin: auto;
    max-width: 1100px;
    line-height: 1.5;
}
.header .row:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F8F4F9;
    margin: 2rem 0;
    padding: 0 2rem;
    border-radius: 0.2rem;
}
.header .row:nth-child(1) .col:nth-child(1){
    flex-basis: 60%;
}
.header .row:nth-child(1) img{
    width: 23rem;
}
.header .row:nth-child(1) .col:nth-child(1) h1{
    font-size: 3rem;
}
.container-sabores{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box{
    flex: 1;
    margin: 1rem 0.5rem;
    padding: 1rem 0.8rem;
    background-color: #FFD6AF;
    color: #6B4B3E;
    text-align: center;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
}
.box .description{
    line-height: 2.3;
}
.container-sabores .box{
    display: flex;
    align-items: center;
}
.container-sabores .box img{
    width: 8rem;
}

/*Section pastels*/
.pasteles, .Decoraciones, .personalizar-pedido{
    display: flex;
    flex-direction: column;
    padding: 1.5rem 2rem;
    margin: 2rem 0;
    background-color: #F8F4F9;
    border-radius: 0.2rem;
    gap: 1rem;
}
/*cards*/
.container-cards-pasteles{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 0.9rem;
}
.card{
    display: flex;
    flex-basis: 33%;
    flex-direction: column;
    height: 20rem;
}
.card img{
    object-fit: cover;
    object-position: 50% 50%;
    padding: 0;
    width: 100%;
    height: 60%;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
}
.card .body{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; /*!*/
    gap: 0rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border: 2px solid #FFD6AF;
    border-top: 0;
}
.body .name{
    margin-top: 0.7rem;
    font-size: large;
    font-weight: 900;
}
.body .price{
    font-size: x-large;
}
.body button{
    width: 6rem;
    margin-bottom: 0.7rem;
    padding: 0.5rem 1rem;
    font-size: x-small;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid gainsboro;
    border-radius: 0.3rem;
    cursor: pointer;
}
.body button:hover{
    background-color: #f0b47b;
    font-weight: 700;
    color: #F8F4F9;
}

/*Detalles sabores*/
.detalles-sabores{
    display: flex;
}
.detalles-sabores .box{
    border: 1px solid #C49E85;
    background-color: #F8F4F9;
    border-radius: 0.2rem;
    box-shadow: none;
}
.description ul{
    display: flex;
    flex-direction: column;
}
.description ul li{
    list-style: none;
}
.detalles-sabores .box:nth-child(odd) .description ul li::before{
    display: inline-block;
    content: '';
    height: 2rem;
    width: 2rem;
    background-image: url('../assets/img/svg/party-elements/Asset\ 10.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: -3rem;
    margin-bottom: -0.9rem;
}
.detalles-sabores .box:nth-child(even) .description ul li::before{
    display: inline-block;
    content: '';
    height: 2rem;
    width: 2rem;
    background-image: url('../assets/img/svg/party-elements/Asset\ 9.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: -3rem;
    margin-bottom: -1rem;
}
.box .content{
    display: flex;
    align-items: center;
    gap: 1.3rem;
}
.content img{
    width: 6rem;
}
/*Party elements*/
.products{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.products .card{ /*override propieties card*/
    flex-grow: 1;
    border: 1px solid #C49E85;
    border-radius: 0.2rem;
    flex-basis: 30%;
}
.products .card .body{ /*override propieties body card*/
    border: none;
    border-top: 1px solid #C49E85;
}
.products .card img{ /*override propieties image card*/
    object-fit: scale-down;
}
.party-element{
    flex-basis: 10rem;
}
.party-element img{
    width: 10rem;
}
.personalizar-pedido .row{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}
.personalizar-pedido h1{
    text-align: center;
}
.personalizar-pedido .row .col:nth-child(1){
    align-self: center;
    width: 100%;
    overflow: hidden;
}
.personalizar-pedido .img-container{
    position: relative;
    width: 30rem;
    height: 30rem;
    overflow: hidden;
    background-color: #f16679;
    border-radius: 0.2rem;
}
.personalizar-pedido .row .col:nth-child(1) img{
    position: absolute;
    width: 100%;
    object-fit: cover;
    left: 10%;
}
.personalizar-pedido .row .col:nth-child(2){
    flex-basis: 100%;
}
.personalizar-pedido .row .col form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.combinar-selectores{
    align-self: flex-end;
}
.personalizar-pedido .row .col form input, textarea{
    outline: none;
    padding: 0.5rem;
    border: 1px solid #6B4B3E;
    border-radius: 0.2rem;
}
.personalizar-pedido .row .col form button{
    align-self: center;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 0.2rem;
    background-color: #D6C9C9;
    color: #6B4B3E;
    font-size: large;
    text-transform: uppercase;
    border: 0.2px solid #6B4B3E;
}
.personalizar-pedido .row .col form button:hover{
    cursor: pointer;
    background-color: #f0b47b;
    font-weight: 700;
    color: white;
    font-weight: bold;
}
select {
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  background-color: #f1f1f1;
}
select:focus{
    outline: #f16679 solid 0.2rem;
}
footer{
    background-color: #D6C9C9;
    overflow: hidden;
}
footer .row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 100%;
    max-width: 1100px;
    margin: auto;
}
.col .logo img{
    width: 8rem;
    background-repeat: no-repeat;
}
footer p{
    font-size: larger;
    color: #2B2D42; 
} 
footer span{
    font-weight: bold;
}
/*PASTELERO*/
.dashboard p{
    font-size: 33px;
    color: #2B2D42; 
    text-align: center;
} 
.dashboard span{
    font-weight: bold;
}
.rest-products-container{
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    margin: 0.5rem 0;
    background-color: #F8F4F9;
    border-radius: 0.2rem;
    gap: 1rem;
}
.rest-products-container .cards-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.rest-products-container h2{
    text-align: center;
    color: #2B2D42;
}
.cards-container .card{
    border: 1px solid #6B4B3E;
    border-radius: 0.5rem;
    text-align: center;
    justify-content: center;
}
.cards-container .card p{
    font-weight: bold;
}
.cards-container .card span{
    color: #BEA7E5;
}
@media (max-width: 1199.98px) {
    .detalles-sabores .box .content{
        flex-direction: column;   
    }
    .description ul{
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }
}
@media (max-width: 768px){
     .personalizar-pedido .img-container{
        position: relative;
        overflow: hidden;
        width: 180%;
    }
    .personalizar-pedido .row{
        gap: 1rem;
    }
    .personalizar-pedido .row .col:nth-child(1) img{
        position: absolute;
        left: -24%;
        top: 0;
    }
    footer .row .col:nth-child(3){
        width: 45%;
    }
}
@media( max-width: 700px ){
    .header .row:nth-child(1){
        flex-direction: column;
        text-align: center;
    }
    .container-sabores{
        flex-direction: column;
        text-align: center;
    }
    .container-cards-pasteles{
        flex-direction: column;
    }
    .detalles-sabores{
        flex-direction: column;
    }
    .box .content{
        flex-direction: column;
    }
    .description ul{
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
    }
    .products{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .products .card{
        flex-basis: 0;
    }
    .img-container{
        display: none;
    }
    .personalizar-pedido .row{
        flex-direction: column;
    }
    footer .row{
        flex-direction: column;
        margin-top: 1rem;
    }
}
@media (max-width: 575.98px) {
    .container-sabores .box{
        flex-direction: column;
    }
 }
 /** {
  outline: 2px solid red;
}*/